// src/components/ResponseTimesChart.module.scss

.chartContainer {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    // border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;

    canvas {
        width: 100%;
        height: 100%;
    }
}




